@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(29, 29, 29);
	color: rgb(161, 139, 139);
}

#title {
	text-align: center;
	padding: 25px;
}

.head-caption {
	text-align: center;
}

.images {
	height: 150vh;
	margin: 2%;
}

/*First main pic*/
.img-div1 {
	position: relative;
	transform: rotate(10deg);
}

/*Center*/
.img-div2 {
	position: absolute;
	top: 250px;
	left: 450px;
	transform: rotate(5deg);
}

.img-div3 {
	position: absolute;
	top: 560px;
	left: 600px;
	transform: rotate(-15deg);
}

/*Aged 16*/
.img-div4 {
	position: absolute;
	top: 200px;
	left: 900px;
}

/*Running*/
.img-div5 {
	position: absolute;
	top: 250px;
	left: 1200px;
	transform: rotate(20deg);
}

/*Aged 5*/
.img-div6 {
	position: absolute;
	top: 500px;
	left: 1100px;
}


.img-div7 {
	position: absolute;
	top: 400px;
	left: 450px;
}

/*3 by the machine*/
.img-div8 {
	position: absolute;
	top: 700px;
	left: 100px;
	z-index: -1;
	transform: rotate(-10deg);
}

.img-div9 {
	position: absolute;
	top: 800px;
	left: 800px;
	z-index: -1;
}

/*The machine*/
.img-div10 {
	position: absolute;
	top: 1000px;
	left: 350px;
}

#tribute-info {
	height: 220vh;
	text-align: center;
	max-width: 850px;
	margin: auto;
}

li {
	list-style-type: none;
}

h1 {
	font-size: 3rem;
}

h1, h2 {
	font-family: 'Bakbak One', cursive;
}

h2 {
	padding-bottom: 4%;
}

.quote {
	margin-top: 55px;
	text-align: center;
	border: 1px solid rgb(151, 135, 135);
	border-radius: 2rem;
	margin-left: 26%;
	margin-right: 26%;
	padding: 10px;
	box-shadow: 60px 53px 27px -3px rgba(0,0,0,0.1);
}

.learn-more {
	text-align: center;
	margin-bottom: 5%;
	margin-top: 50px;
}

#tribute-link {
	color: blanchedalmond;
	font-weight: lighter;
}

footer {
	text-align: center;
	font-size: 16px;
}

@media (max-width: 500px) {
	.images {
		position: static;
		display: flex;
	}
}