@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
	font-size: 1rem;
	line-height: 1.5;
	color: #333;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

#tribute-info {
	text-align: center;
}

li {
	list-style-type: none;
}

h1, h3 {
	font-family: 'Bakbak One', cursive;
}

